{% from "scality/samba/samba.jinja" import samba with context%}
[global]
netbios name = {{ grains['id'] }}
server string = Samba Server Version %v
max protocol = SMB3
{%- if samba.ad == true %}
security = ads
realm = {{ samba.realm }}
workgroup = {{ samba.addomain }}
idmap config * : backend = tdb 
idmap config * : range = 100000-299999 
idmap config {{ samba.addomain }} : backend = rid
idmap config {{ samba.addomain }} : range = 2600000-3999999

winbind trusted domains only = no
winbind use default domain = no 
winbind nss info = rfc2307
winbind enum groups = yes 
winbind enum users = yes 
{%- else %}
security = user  
{% endif %}

encrypt passwords = yes
template shell = /bin/bash 
template homedir = /home/%D/%U 
max log size = 100000
log level = 3
guest account = nobody 
vfs objects = fileid ring catia fruit streams_xattr aio_pthread
#acl_xattr is not set and should be used when using AD users on the shares.
ea support = yes

load printers = yes
 
[share1]
comment = Main RING storage share, used for administrative purpose
path = /ring/fs/share1
valid users =  {{ samba.testuser }}
read only = no
aio write size = 1
aio read size = 1
