#import parameters
{% import_yaml 'scality/ha1/ha1.yaml' as defaults with context %}
# merge the pillar
{%- set ha1 = salt['grains.filter_by']({
    'Linux': defaults
}, grain='kernel', merge=salt['pillar.get']('ha1:lookup'))%}

