{% from "scality/zookeeper/cluster.sls" import hosts with context %}
{% from "scality/ha1/ha1.jinja" import ha1 with context %}
monitoring_heartbeat_hosts:
{%- for zk in hosts %}
- {{ zk }}
{%- endfor %}
monitoring_watcher: true
{%- if 'ROLE_STORE' in grains['roles'] %}
{%- set myip = grains['ip4_interfaces'][ha1.interface][0] %}
monitoring_heartbeat: true
monitoring_heartbeat_myip: {{ myip }}
monitoring_heartbeat_timeout: 5
{%- endif %}
