{% from "scality/zookeeper/cluster.sls" import hosts with context %}
monitoring_heartbeat_hosts:
{%- for zk in hosts %}
- {{ zk }}
{%- endfor %}
monitoring_watcher: true
{%- if 'ROLE_STORE' in grains['roles'] %}
{%- set myip = grains['ip4_interfaces']['bond0'][0] %}
monitoring_heartbeat: true
monitoring_heartbeat_myip: {{ myip }}
monitoring_heartbeat_timeout: 5
{%- endif %}
